/* colors:
Main: #d0ebff
Accent:#f1f3f5
Grey:#f8f9fa */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #f8f9fa;
}

header {
  background-color: #d0ebff;
}
h1 {
  text-align: center;
  padding: 40px;
}
main {
  height: 578px;
}
#myForm {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  width: 30%;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  background-color: #f1f3f5;
}

#email,
#password,
#btn {
  align-self: center;
  padding: 10px;
}

#email,
#password {
  margin-bottom: 10px;
  width: 200px;
  border: 1px solid #ccc;
}

.error-message {
  text-align: center;
  color: red;
  margin-bottom: 1%;
}
#btn,
#btn:visited {
  border: 1px solid #ccc;
  cursor: pointer;
  width: 100px;
  color: #212529;
}

#btn:hover {
  background-color: rgb(125, 119, 119);
  color: #e9ecef;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #d0ebff;
}

/* class list */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* MEDIA QUERY */
@media (max-width: 850px) {
  #myForm {
    width: 40%;
  }
}
@media (max-width: 740px) {
  #myForm {
    width: 50%;
  }
  h1,
  footer {
    padding: 20px;
  }
}
@media (max-width: 600px) {
  #myForm {
    width: 60%;
  }
}
@media (max-width: 470px) {
  #myForm {
    width: 65%;
  }
  h1,
  footer {
    padding: 10px;
  }
}
